[project]
	description = A role designed to collect the critical logs, configuration and artifacts from a tripleo deployment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Attila Darazs (adarazs)
	owner = group user/Harry Rybacki (HarryRybacki)
	owner = group user/John Trowbridge (trown)
	owner = group user/wes hayutin (weshayutin)
	label-Verified = -1..+1 group user/rdo-ci-centos
[access "refs/for/refs/*"]
	read = group rdo-ci-group
	read = group user/wes hayutin (weshayutin)
	push = group user/wes hayutin (weshayutin)
	label-Code-Review = -2..+2 group user/wes hayutin (weshayutin)
	label-Verified = -1..+1 group user/wes hayutin (weshayutin)
	rebase = group user/wes hayutin (weshayutin)
	removeReviewer = group user/wes hayutin (weshayutin)
	submit = group user/wes hayutin (weshayutin)
[access "refs/heads/*"]
	read = group user/wes hayutin (weshayutin)
	create = group user/wes hayutin (weshayutin)
	push = +force group user/wes hayutin (weshayutin)
	pushMerge = group user/wes hayutin (weshayutin)
[access "refs/tags/*"]
	push = +force group user/wes hayutin (weshayutin)
	pushTag = group user/wes hayutin (weshayutin)
	pushSignedTag = group user/wes hayutin (weshayutin)
