Welcome to |project| Documentation:
===================================

-------------------
Virtual Environment
-------------------

|project| Quickstart can be used in a virtual environment using virtual machines instead
of actual baremetal. However, one baremetal machine ( VIRTHOST ) is still
needed to act as the host for the virtual machines.


###########################
Minimum System Requirements
###########################

By default, this setup creates 3 virtual machines:

* 1 Undercloud
* 1 Overcloud Controller
* 1 Overcloud Compute

Each virtual machine must consist of at least 4 GB of memory and 40 GB of disk
space [#]_.

.. note::
   The virtual machine disk files are thinly provisioned and will not take up
   the full 40GB initially.

The baremetal machine must meet the following minimum system requirements:

* Virtualization hardware extensions enabled (nested KVM is **not** supported)
* 1 quad core CPU
* 12 GB free memory
* 120 GB disk space

..
    <REMOVE WHEN HA IS AVAILABLE>

    For minimal **HA (high availability)** deployment you need at least 3 Overcloud
    Controllers and 2 Overcloud Computes which increases the minimum system
    requirements up to:

    * 24 GB free memory
    * 240 GB disk space.

|project| Quickstart currently supports the following operating systems:

* CentOS 7 x86_64

------------------
TripleO Quickstart
------------------

TripleO Quickstart is a fast and easy way to setup and configure your virtual environment for TripleO.
Further documentation can be found at https://github.com/openstack/tripleo-quickstart

A quick way to test that your virthost machine is ready to rock is:

.. code::

    ssh root@$VIRTHOST uname -a

##################
Getting the script
##################

You can download the `quickstart.sh` script with `wget`:

.. code::

    wget https://raw.githubusercontent.com/openstack/tripleo-quickstart/master/quickstart.sh

########################
Install the dependencies
########################

You need some software available on your local system before you can run
`quickstart.sh`. You can install the necessary dependencies by running:

.. code::

    bash quickstart.sh --install-deps

##############################
Setup your virtual environment
##############################

Deploy your virtual environment by running:

.. code::

    bash quickstart.sh $VIRTHOST

{% for doc in artcl_doc_whitelist %}
.. include:: {{ artcl_docs_templates_dirname }}/{{ doc }}.rst
{% endfor %}
